@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--base-shadow: [0px_4px_16px_rgba(17, 17, 26, 0.1),
		_0px_8px_24px_rgba(17, 17, 26, 0.1), _0px_16px_56px_rgba(17, 17, 26, 0.1)];
}
