@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--base-shadow: shadow-[0px_4px_16px_rgba(17, 17, 26, 0.1),
		_0px_8px_24px_rgba(17, 17, 26, 0.1), _0px_16px_56px_rgba(17, 17, 26, 0.1)];
}


.very-main-wrapper {
	position: relative;
}

@media only screen and (max-width: 500px) {
	.flexify{
		display: flex;
		flex-wrap: wrap;
		column-gap: 30px;
	}
}


@media only screen and (max-width: 500px) {
	.head{
		font-size: 30px;
		color: #1900ffc6;
		font-weight: 900;
	}
	.textify{
		font-size: 20px;
	}
}

.very-main-wrapper::before {
	content: ' ';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; background-size: cover;
	background-image: url("/src/resources/images/newback.jpg");
}